/* Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Grid layout */
.app-container {
    display: grid;
    --nav-rad: calc(2.5 * 1rem);
    grid-template-areas:
        "nav nav nav nav"
        "empty-left side main empty-right";
    grid-template-rows: var(--nav-rad) 1fr;
    grid-template-columns: minmax(0px, 200px) 220px minmax(600px, auto) minmax(0px, 420px);
    height:100vh;
    background-color: #186170;
}

.app-container > nav {
    grid-area: nav;
    background-color: #55d6aa;
}

.app-container > aside {
    grid-area: side;
    background-color: transparent;
}

.app-container > main {
    grid-area: main;
    background-color: transparent;
}

.app-container > .empty {
    background-color: transparent;
}

.app-container > .empty-left {
    grid-area: empty-left;
}

.app-container > .empty-right {
    grid-area: empty-right;
}

/* Navigation */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-btn {
    text-decoration: none;
    outline: none;
    color: black;
    --nar-bar-fnt-size: 1.5rem;
    font-size: var(--nar-bar-fnt-size);
    padding: calc( ( (var(--nav-rad) - var(--nar-bar-fnt-size)) / 2 ) - 1px) 10px;
}

a.nav-btn:active, a.nav-btn:focus, .sidebar-start-chat-btn {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

.nav-btn:hover {
    color: white;
}

.nav-center {
    flex-grow: 1;
    text-align: center;
}

.nav-center > input {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    background: none;
    border: 0;
    border-bottom: 2px solid #C8CCD4;
}

/* Sidebar */

/* Sidebar - chat */
.sidebar-chat-container {
    position: relative;
}

.sidebar-chat-container li {
    --sidebar-chat-user-padding: 5px;
    padding: var(--sidebar-chat-user-padding);
    position: relative;
    float: left;
    clear: both;
}

.sidebar-start-chat-btn {
    background: 0;
    padding: 0 0 0 var(--left-padding);
}

.sidebar-start-chat-btn:hover {
    background: rgba(34, 33, 32, 0.15);
}

.sidebar-chat-online-dot, .sidebar-chat-offline-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.sidebar-chat-online-dot {
    background-color: green;
}

.sidebar-chat-offline-dot {
    background-color: #ff5c59;
}

.sidebar-chat-notif {
    display: inline-block;
    padding: 2px;
    font-size: .7rem;
    border-radius: 50%;
    background: #ff5c59;
    color: white;
    position: relative;
    top: -5px;
    left: -3px;
}

/* Main */
.app-container main {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container main .post-container {
    text-align: center;
}